/*
I was unsure if this also needed 25 css properties or if it was just the Lab. I figured this version could be bare-bones compared to
the Lab submission considering if it needed everything the Lab did for the rubric then they would look identical at that point. I have more
than 25 properties on my lab 2 and would've added them here if I knew it was nessesary.
*/


body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    text-align: center;
}

header, #main {
    background-color: white;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
}
